{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {% csrf_token %}
            <h2 class="text-center">病人信息</h2>
            <a href="/patiantinfo/{{ patiant }}/mod/" class="btn btn-info" role="button">修改</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">删除</button>
            <table class="table table-hover row">
                <thead class="thead-light w-100">
                    <tr class="row">
                        <th class="col-4">类别</th>
                        <th class="col-8">内容</th>
                    </tr>
                </thead>
                <tbody class="w-100">
                {% for field in patiant_form %}
                <tr class="row">
                    <th class="col-4">{{ field.label }}</th>
                    <th class="col-8">{{ field.value }}</th>
                </tr>
                {% endfor %}
                <tr class="row">
                    <th class="col-4">照片</th>
                    <th class="col-8">
                    {% for ph in list_PatiantPhoto %}
                    <a href=images/{{ ph.path }}>{{ ph.label }}</a>&nbsp;
                    {% endfor %}
                    </th>
                </tr>
                <tr class="row">
                    <th class="col-4">病理</th>
                    <th class="col-8">
                    {% for ph in list_PatiantPathology %}
                    <a href=images/{{ ph.path }}>{{ ph.label }}</a>&nbsp;
                    {% endfor %}
                    </th>
                </tr>
                <tr class="row">
                    <th class="col-4">送检单</th>
                    <th class="col-8">
                    {% for ph in list_PatiantInformation %}
                    <a href=images/{{ ph.path }}>{{ ph.label }}</a>&nbsp;
                    {% endfor %}
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">警告</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    真的要删除{{ patiant }}的数据吗？？？
                </div>
                <div class="modal-footer">
                    <a href="/patiantinfo/{{ patiant }}/del/" class="btn btn-danger" role="button">确定</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
                        
{% endblock %}
